<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kubernetes Job Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        var tooltipDomElements = document.querySelectorAll('.tooltipped:not([data-tooltip=""])');
        M.Tooltip.init(tooltipDomElements);

        var jobCountsElement = document.getElementById("job-counts");
        var counts = JSON.parse(jobCountsElement.dataset.counts);
        var jobCounts = new Chart(jobCountsElement.getContext("2d"), {
          type: "pie",
          data: {
            datasets: [{
              data: [counts.Succeeded, counts.Failed, counts.Running, counts.Pending],
              backgroundColor: [
                "#4CAF50", // Succeeded
                "#F44336", // Failed
                "#2196F3", // Running
                "#ff9800", // Pending
              ]
            }],
            labels: ["Succeeded", "Failed", "Running", "Pending"],
          }
        });
      });
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <style>
      span.badge.new:after { content: ''; }
      .chart-container { width: 200px; height: 200px; }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="header">Jobs</h1>

      <div class="chart-container">
        <canvas width="200" height="200" id="job-counts" data-counts="<%= JSON.stringify(counts) %>"></canvas>
      </div>

      <table class="striped">
        <thead>
          <th>Name</th>
          <th>Status</th>
          <th>Created</th>
          <th>Started</th>
          <th>Runtime</th>
          <th>Runs</th>
          <th>Link to GCP</th>
        </thead>

        <tbody>
          <% jobs.forEach(job => { %>
          <tr>
            <td>
              <%= job.name %>
            </td>
            <td>
              <span class="tooltipped badge new <%= statusCssClass(job.status) %>" data-tooltip="<%= job.reason %>">
                <%= job.status %>
              </span>
            </td>
            <td>
              <span  class="tooltipped" data-tooltip="<%= job.createdAt %>">
              <%= relativeTime(job.createdAt) %>
              </span>
            </td>
            <td>
              <span  class="tooltipped" data-tooltip="<%= job.startedAt %>">
                <%= job.startedAt ? relativeTime(job.startedAt) : "-" %>
              </span>
            </td>
            <td>
              <span  class="tooltipped" data-tooltip="<%= job.finishedAt %>">
                <%= job.finishedAt ? relativeTime(job.startedAt, job.finishedAt) : "-" %>
              </span>
            </td>
              <span  class="tooltipped" data-tooltip="<%= job.createdAt %>" >
            <td>
              <% job.pods.forEach((pod, index) => { %>
                <a href="<%= gcpPodUrl(pod) %>" class="tooltipped" data-tooltip="<%= tooltipForPod(pod) %>">
                  <span class="badge new <%= statusCssClass(pod.status) %>">
                    <%= index + 1 %>
                  </span>
                </a>
              <% }) %>
            </td>
            <td>
              <a class="waves-effect waves-light btn" href="<%= gcpJobUrl(job) %>">
                <i class="material-icons left">cloud</i>
                View in GCP
              </a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </ul></ul>>
  </body>
</html>
